body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #162D3D, #073D28); /* Main background gradient */
    color: white; /* Ensuring text is readable on the dark background */
}
nav {
    display: flex;
    justify-content: space-between; /* Adjust to center if needed */
    align-items: center;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav .company-name,
nav ul {
    flex: 1; /* This gives equal weight to both the company name and the nav list, centering the items */
    display: flex;
    justify-content: center; /* Center the navigation links */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 0 10px; /* This provides spacing between nav items */
}
nav ul li a {
    transition: background-colour 0.3s, colour 0.3s;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: block;
}
nav ul li a:hover, nav ul li a:focus {
    background-color: #fc6a03;
    color: black;
}
section {
    padding: 60px 20px;
    margin-top: 60px; /* Adjust to ensure content starts below the nav */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.6); /* Adds a shadow to it giving it more depth */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
section#home {
    display: block;
}

button, input[type="submit"] {
    background-color: #fc6a03;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover, input[type="submit"]:hover {
    background-color: darken(#fc6a03, 10%);
}

footer {
    background-color: rgba(255, 255, 255, 0.1); /* Solid color for footer, matching gradient end */
    backdrop-filter: blur(10px);
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.service-categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.category {
    width: 30%; /* Adjust width as necessary */
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Frosted glass effect */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

.category h3 {
    text-align: center;
    color: #fc6a03; /* Using the accent color for headings */
}

.category ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
}

.category li {
    padding: 10px 0; /* Add padding for list items */
    border-bottom: 1px solid #fc6a03; /* Add a border to each item */
    color: white; /* Color of the list item text */
}

/* Last child border removal */
.category li:last-child {
    border-bottom: none;
}

#contact {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    max-width: 800px;
    margin: 60px auto 0; /* Center the form in the section */
}

#contact h2 {
    color: #fc6a03; /* Accent color for headings */
    text-align: center;
}

#contact p {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Ensures padding doesn't increase the size */
}

.form-group textarea {
    height: 150px; /* Adjust based on preference */
}

button[type="submit"] {
    background-color: #fc6a03;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: darken(#fc6a03, 10%);
}
